html, body {
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
}

.ant-menu li.ant-menu-item,
.ant-menu li .ant-menu-submenu-title{
	font-size: 14px;
}

.body-all {
	height: 100%;
}

.body-content {
	margin: 10px 20px 20px 260px;
}

.body-content > .ant-breadcrumb {
	font-size: 14px;
}

.body-content > .ant-breadcrumb {
	margin-bottom: 10px;
}